<!DOCTYPE html>
<html>
    <head>
        <title> About!</title>
        <link rel="icon" href = "/img/icon.png">
        <link rel = "stylesheet" href = "/css/style.css"> 
    </head>

    <body>
     <div class="main-content">
         <h1> {{>header}}</h1>
         <p>This site was created by saroj, it uses data from dark sky and mapbox</p>
        <img class = "portrait" src = "/img/iron.png">   
   </div> 

         {{>footer}}
    </body>
</html>