<!DOCTYPE html>
<html>
    <head>
        <title> Error!</title>
        <link rel="icon" href = "/img/icon.png">
        <link rel = "stylesheet" href = "/css/style.css"> 
    </head>

    <body>
    <br>
      <div class="main-content">
         <h1> {{>header}}</h1>
         <p> {{data}}</p>
    </div>
         {{>footer}}
    </body>
</html>