<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="icon" href = "/img/icon.png">
        <link rel = "stylesheet" href = "/css/style.css"> 
       
    </head>
    <body>
        <!-- The div is done to push footer to down and rest of them occupy
        everything else-->
        <div class="main-content">
        <h1> {{>header}}</h1>
        <form>
            <p>Enter the place whose Weather you would like to know </p>
            <input placeholder="Location" width="50px">
            <button>Search </button>
            </form>

            <p id="msg1"></p>
            <p id = "msg2"></p>

        </div>

         {{>footer}}
    </body>
     <script src = "/js/app.js"></script>
      
  
 
</html>